.logo {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}
.login-wrapper, .form-wrapper {
  padding-top: 5rem !important;
}
.onboard {
  width: 100vw;
  height: 100vh;
}
.page-wrapper {
  background: url(./assets/bg-mob.png) center no-repeat !important;
  width: 100vw;
  height: 100vh;
  background-size: cover !important;
}

.submit {
  background: transparent !important;
}
.social-icon {
  width: 2rem;
}
.drp-content {
  margin-right: 7rem !important;
}
.text-box {
  position: fixed !important;
  bottom: 1vh !important;
  width: 100vw !important;
  padding: 0px !important;
  max-height: 2.1rem !important;
}